body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00FF00;
    margin: 0;
    padding: 0;
}

header {
    background: #000;
    color: #00FF00;
    padding: 1em 0;
    text-align: center;
    border-bottom: 2px solid #00FF00;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #00FF00;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    color: #00FF00;
}

article {
    background: #111;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #00FF00;
}

.post-content {
    display: none;
}

#details ul {
    list-style: none;
    padding: 0;
}

#details ul li {
    margin: 10px 0;
}

a {
    color: #00FF00;
    text-decoration: underline;
}

a:hover {
    color: #00CC00;
}

footer {
    background: #000;
    color: #00FF00;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #00FF00;
}

button {
    background-color: #00FF00;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #00CC00;
}
